body {
  font-family: Overpass;
  background-color: #f1f8f68d;
  color: #644536;
  text-align: center;
  padding: 25px;
}

h1,
h2,
h3 {
  font-family: Chivo;
  color: #0C0A3E;
  font-size: 35px;
}

p {
  font-family: Chivo;
  color: #023c32;
  font-size: 25px;
}

#header-image {
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: white;
  background-color: #BA6E6E;
  padding: 15px;
  border-radius: 5px;
  transition: 0.3s ease;
}

a:hover {
  background-color: #A36060;
}

.container {
  background-color: white;
  width: 500px;
  padding: 50px;
  width: 500px;
  margin: 25px auto;
  border-radius: 5px;
  border: 1px solid #EAEAEA;
  background-image: linear-gradient(to bottom, #f4c7ed, #fcc0f3);
}

li {
  list-style: none;
  font-size: 24px;
  margin-bottom: 1rem;
}

.list-inline li {
  display: inline-block;

  i {
    font-size: 32px;
    margin-right: 12px;
    color: aquamarine;
  }

  i:hover {
    color: rgb(1, 155, 155);
    transition: .2s;
  }
}
